<ion-view title="Signup">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a href="#/ListPage" class="button button-stable button-block ">Sign up</a>
        </form>
        <a href="#/LoginPage" class="button button-assertive button-block ">Cancel</a>
    </ion-content>
</ion-view>